.follow-btn, .following-btn {  
  font-weight: 400;
  border-radius: 20px;
  padding: 5px 14px;
  transition: .4s;
}

.follow-btn {
    background-color: #fff;
    color: #000;
}

.following-btn {
  background-color: transparent;
  color: #fff;
  border: 1.5px solid #fff;
}

.new-post-btn {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: rgb(0, 119, 255);
  transition: .3s;
}

.np-btn-vnav {
  margin: 0 auto;
}

.new-post-btn:hover {
  background-color: rgb(19, 127, 251);
  box-shadow: 0px 0px 3px 0px rgb(19, 127, 251);
}