.h-container {
    height: auto;
}

.home {
    height: auto;
    min-height: 100vh;
    position: relative;
    display: flex;
    background-color: #05131C;
    column-gap: 2rem;
    padding: 1.6rem 0;
} 

.h-profile-card {
    top: 3.5rem;
    left: 2rem;
}

.h-card-whofollow {
    bottom: 1rem;
    left: 2rem;
}

.h-card-trends {
    top: 3.5rem;
    right: 2rem;
}

.h-card-new-post{
    padding: 1.05rem 1.1rem !important;
    border-radius: 10px !important;
    margin-bottom: .5rem;
}

.h-profile-link {
    color: #1ea2f5;
    font-weight: 400;
    font-size: .95rem;
    letter-spacing: .01rem;
}
