.post-card {
    display: flex;
    gap: 1.3rem;
}

.post-btn {
    color: #fff;
    background-color: #1ea3f5bc;
    padding: 5px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    font-weight: 400;
    box-shadow: 0px 0px 2px 0px #00bbff;
    transition: .4s;
}

.post-btn:hover {
    background-color: #1ea3f5;
    box-shadow: 0px 0px 6px -1px #00bbff;
}

.post-interaction-icon {
    height: 28px;
    width: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .4s !important;
}

.interaction-fav {
    background-color: rgb(239, 64, 64);
}

.interaction-repost {
    background-color: rgb(51, 205, 51);
}

.interaction-comment {
    background-color: rgb(62, 62, 235);
    padding-left: 1px;
}

.interaction-fav:hover {
    box-shadow: 0px 0px 8px 0px rgba(239, 64, 64, .8) !important;
}
.interaction-repost:hover {
    box-shadow: 0px 0px 8px 0px rgb(51, 205, 51, .8) !important;
}
.interaction-comment:hover {
    box-shadow: 0px 0px 8px 0px  rgb(62, 62, 235, .8) !important;
}

.post-interaction-btn:hover {
    background-color: #2e4451;
}

.post-interaction-btn {
    background-color: #253641;
    padding: 8px 25px;
    border-radius: 7px;
    transition: .4s;
}

.post-interaction-save {
    padding: 10px 20px;
}

.update-postlist-btn {
    text-align: center;
    color: #fff;
    width: 100%;
    background-color: #2c4556;
    padding: .7rem;
    border-radius: 20px;
    cursor: pointer;
    margin-top: -14px;
    transition: .4s;
}

.update-postlist-btn:hover {
    background-color: #1d2b35 ;
}

.post-file {
    width: 80%;
    object-fit: cover;
    margin-top: .5rem;
}
