.p-container {
    height: auto;
}

.profile {
    height: auto;
    min-height: 100vh;
    position: relative;
    display: flex;
    background-color: #05131C;
    column-gap: 2rem;
    padding: 1.6rem 0;
} 


.portada {
    height: 11rem;
    width: 100%;
    position: relative;
}

.portada-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-info {
    padding: 3rem 1.2rem 0 1.5rem;
    position: relative;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    border-top: none;
}

.profile-btn {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    font-size: 1.05rem;
    padding: 6px 23px;
    transition: .4s;
}

.edit-profile-btn {
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border: 1.5px solid #fff;
    border-radius: 30px;
}

.edit-profile-btn:hover {
    background-color: #ffffff10;
}

.profile-sections-btn {
    position: relative;
    padding: .6rem .7rem;
    font-size: 1rem;
    font-weight: 500;
    color: #ffffff65;
    transition: color 0.3s ease-in-out; /* Transición para el texto */
    border: none;
    background: none;
}

.profile-sections-btn::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgb(2, 168, 224); 
    transition: width 0.25s ease-in-out; 
}

.profile-sections-btn-active {
    color: #fff; 
}

.profile-sections-btn-active::after {
    width: 100%; 
}

.profile-sections-btn:hover::after {
    width: 100%; 
}

